<!DOCTYPE html>
<html>
<head>
  <title>Dhwi2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>	
		<h1>Digital Humanities - Dreams ... Designs ... Documents</h1>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/topics/new">Create Topic</a></li>
					<li><a href="/about.html">About</a></li>
			</nav>
	</header>
<% flash.each do |name, msg| %>
	<div><%= msg %></div>
	<% end %>
<%= yield %>

</body>
</html>
